
*{
    box-sizing: border-box;
}

body{
    background-color: rgba(153, 8, 8, 0.2);
    max-width:972px;    
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1{
    color:#333;
    font-size:1.2em;
    text-align:center;
    text-transform: uppercase;
}

.rock-img{
    width:320px;
    height:auto;
    border-radius:20px;
}

.img-row{
    display:flex;
    justify-content: center;
}

.custom-text{
    max-width:850px;
}


.hobbies{
    list-style: none;
}

.hobbies li{
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: 900;
}


